.skills {
  width: 700px;
  margin: auto;
}

.sliderSkills {
  margin-bottom: 50px;
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderSkills_div img {
  height: 100px;
  margin: auto;
}

.sliderSkills_div img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 400px) {
  .skills {
    width: 90%;
    margin: auto;
  }
}
