.skills {
  width: 700px;
  margin: auto;
}

.sliderSkills {
  border-top: 1px black solid;
  margin-bottom: 50px;
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderSkills_div img {
  height: 100px;
  margin: auto;
}

.sliderSkills_div img:hover {
  cursor: pointer;
}
