.nav {
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: #4c6c9d;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav_responsive {
  display: none;
}

.nav_logo {
  display: flex;
}

.nav_logo0 {
  background-color: #4c6c9d;
  width: 15px;
  height: 70px;
}
.nav_logo1 {
  background-color: #99ced4;
  width: 30px;
  height: 70px;
}

.nav_logo2 {
  background-color: #709abf;
  width: 70px;
  height: 70px;
}

.nav_logo3 {
  background-color: #eeb4c0;
  width: 20px;
  height: 70px;
}

.nav_logo4 {
  background-color: #6e7376;
  width: 100px;
  height: 70px;
}

.nav_img {
  width: 20%;
  height: 100%;
}

.nav_ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav_ul_li a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.nav_ul_li a:hover {
  color: #eeb4c0;
}

.nav_ul_li a:before {
  content: "";
  position: absolute;
  top: 22px;
  border: 2px solid transparent;
}

.nav_ul_li a:hover:before {
  animation: hover 0.5s linear forwards;
  text-decoration: none;
}

@keyframes hover {
  0% {
    width: 0%;
    border-bottom-color: #fff;
  }

  50% {
    width: 100%;
    border-bottom-color: #fff;
  }

  100% {
    width: 100%;
    border-bottom-color: #fff;
  }
}

@media screen and (max-width: 835px) {
  .nav {
    justify-content: right;
  }

  .nav_ul,
  .nav_logo {
    display: none;
  }

  .nav_responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    cursor: pointer;
  }

  .nav_responsive_ul-close {
    display: none;
  }

  .nav_responsive_ul-open {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    background-color: #4c6c9d;
    border-radius: 5px;
    height: 250px;
    width: 250px;
    justify-content: space-around;
  }
}
