.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color: #1a1d24;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav_img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.nav_ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav_ul_li a {
  text-decoration: none;
  color: #717477;
  font-weight: 600;
}

.nav_ul_li a:hover {
  color: #fffff1b7;
}

.nav_ul_li a:active {
  color: #fffff1;
}
