.globalProjects {
  width: 90%;
  margin: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects_container {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: apparitionProjects 0.7s ease-in-out;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.projects_container_Text {
  width: 80%;
  display: grid;
  margin-top: 20px;
}

.projects_container_Text p {
  background-color: WHITE;
  padding: 15px;
  border-radius: 5px;
}

.projects_container_Text h2 {
  border-top: 2px solid #99ced4;
  padding-top: 10px;
  text-align: center;
  height: 50px;
}

.projects_container_link {
  width: 60%;
  min-width: 240px;
  margin: auto;
  background-color: #a8d7db;
  color: #1a1d24;
  text-decoration: none;
  padding: 8px;
  height: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.projects_container_link:hover {
  background-color: #eeb4c0;
  transition: 0.4s;
  color: white;
}

.projects_container_img_overlay {
  position: absolute;
  background-color: #4c6c9d;
  opacity: 0;
  width: 330px;
  height: 280px;
  margin-left: -15px;
}

.projects_container_img_overlay:hover {
  opacity: 0.5;
  transition: 0.6s;
}

.projects_container_img img {
  width: 300px;
  margin-top: 10px;
}

@media screen and (max-width: 400px) {
  .globalProjects {
    width: 100%;
    margin: auto;
  }
}

@keyframes apparitionProjects {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
