.profil {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profil p {
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  .profil {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
