.banner2 {
  height: 180px;
  background-image: url("../../assets/imgProfil1.webp");
  background-size: cover;
  background-attachment: fixed;
  background-origin: padding-box;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 a {
  font-size: 40px;
  text-decoration: none;
  color: #1b3a69;
}

.banner2 a:hover {
  color: WHITE;
  background-color: #ce4758;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .banner2 {
    height: 120px;
  }
}
