.banner2 {
  height: 180px;
  background-image: url("../../assets/imgProfil1.webp");
  background-size: cover;
  background-attachment: fixed;
  background-origin: padding-box;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 h3 {
  font-size: 35px;
  margin: 0;
}

.banner2 a {
  backdrop-filter: blur(20px);
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 15px;
}

.banner2 a:hover {
  color: white;
  background-color: #4c6c9d;
}

@media screen and (max-width: 800px) {
  .banner2 {
    height: 120px;
  }

  .banner2 a {
    font-size: 20px;
  }
}
